@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap");

html {
  background: url(./Components/Images/christmas-ornament-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: "Mountains of Christmas", cursive;
  color: #990a02;
}

.countdowntimer {
  background-color: #980000;
  color: #02a770;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;

  margin: 0% 20% 0% 20%;
  padding: 5% 0% 16% 0%;
}

.timers {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.timer {
  font-size: 1.2em;
  margin: 0% 0% 0% 0%;
}

.Days,
.Hours,
.Minutes,
.Seconds {
  padding: 2% 5% 2% 5%;
  margin: 0% 3% 0% 3%;
  background-color: #00d604;
  color: #000000;

  border: black 2px solid;
  border-radius: 40%;
  box-shadow: 10px /*<-left-right*/ 10px /*<-p down*/ 15px /*<-blur*/ -5px /*<-spread*/
    rgb(197, 5, 85);
}

.timerhead {
  margin: 0% 0% 25% 0%;
}

.show-counter {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  margin: 0% 5% 0% 5%;
  padding: 0% 0% 0% 0%;
}

.guestbookh2 {
  font-size: 1.7em;
}

.Comment-box {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #03a24d;
  margin: 0 20% 0 20%;
  padding: 3% 0 0% 0;
}

.messagecontainer {
  background-color: #00bc4b;
  padding: 0 10% 0 10%;
  margin: 5% 0% 15% 0%;
  border: solid black 2px;
  border-radius: 10%;
  box-shadow: 8px /*<-left-right*/ 10px /*<-p down*/ 15px /*<-blur*/ -5px /*<-spread*/
    #000000de;
  /* display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center; */
}

.posted-messages {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0% 0% 0% 0%;
}

.messagetext {
  margin: 0% 0% 0% 0%;
  padding: 0% 0% 0% 0%;
  color: black;
  font-size: 1.3em;
  font-weight: 700;
}

.timestamp {
  margin: 0% 0% 10% 0%;
  font-size: 1em;
  font-family: "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
}

.message {
  padding: 0%;
  margin: 5% 0% 0% 0%;
}
